[submodule "frontend-graphql"]
	path = old-frontend-graphql
	url = https://github.com/K-JAX/degrawanddehaan-front-end.git
[submodule "wordpress"]
	path = wordpress
	url = https://github.com/K-JAX/degrawanddehaan-backend.git