node_modules
npm-debug.log
yarn-error.log
wp-graphiql
data/
data/*
plugins
wordpress/wp-content/plugins/
wordpress/wp-content/uploads/
wordpress/wp-content/wflogs/
wordpress/wp-content/ai1wm-backups/
