// Colors
$wht: white;
$blk: black;
$navy: #464853 !default;
$gray: #c0c0c0;
$warmGray: #f9f3f0;

// Gradients
$GRAD-warm-white: linear-gradient(
	110deg,
	rgba(242, 239, 239, 1) 0%,
	rgba(245, 242, 241, 1) 100%
);
