// extra burger component styles

.loaded .burger{
    opacity: 1;
    animation: 0.8s loadBurger forwards;
}

@keyframes loadBurger {
    0%{
        width: 0px;
    }
    100%{
        width: 46px;
    }
}
